<?xml version="1.0" encoding="UTF-8"?>
<ruleset name="Basic HTTP Auth extension PHPCS Ruleset"
         namespace="Behat\BasicHttpAuthExtension\CS\Standard">

    <description>
        Ruleset for PHPCS for Basic HTTP Auth extension.
    </description>

    <autoload>vendor/autoload.php</autoload>

    <arg name="report" value="full"/>
    <arg name="extensions" value="php"/>

    <!-- Include the whole PSR-1 standard -->
    <rule ref="PSR1"/>
    <!-- Include the whole PSR-2 standard -->
    <rule ref="PSR2"/>

    <!-- exclude vendor directory. -->
    <exclude-pattern>*/vendor/*</exclude-pattern>
    <exclude-pattern>*/.git/*</exclude-pattern>
</ruleset>
